@{
    ViewBag.Title = "Aboutthe Monthly Spending Tracker";
}
<h2>@ViewBag.Title.</h2>
<h3>Chance Reichenberg</h3>
<h4><a href="mailto:reichenberg@goldmail.etsu.edu?Subject=Hello%20again" target="_top">Send Mail</a></h4>
